<h3>What can you do now?</h3>

<p>
    With the release of the 1.0.0 version, the following features would be presented to the users.
</p>
<ul>
    <li>Team Registration: admin is registered upon request for the user. After that, admins can register their teammates into the system</li>
    <li>Role-based management. Admin and worker roles are supported in this version of the system. Brief explanation of what these can do is highlighted in the next points</li>
    <li>
        Write and read operations for tasks. This is only allowed to team members with admin roles.
    </li>
    <li>Write and read operations for records. The record is the information of the time spent on each task that was assigned by the admin</li>
</ul>
<p>At the end, based on 4 confirmed weekly reports payroll is processed. In this case, the system is ensuring clarity and transparency of work within a team. </p>