<h3>What is Tarteeb?</h3>

<p>
    There are always many tasks that employees need to complete for any business to run. In Uzbekistan, the method of managing these tasks is still done using a “pen and paper” approach. You can even see some real boards and sticker papers in most of the firms. Business owners from other countries have already implemented digital management systems. It is high time to introduce a national task and time management system, which is cheaper, suits better for national business operations as well as better designed for business needs based on the analysis of other foreign competitor applications.

    This is the platform where workers can enter their activity during a certain period of time. This allows employers to have a clear opinion on what task has taken how many hours of an employee's work day.  Employers can monitor what tasks their employees spend their work hours on during the week in the form of a special report. The tasks are added using a special tickets page. In other words, a ticket is just a granular task.
</p>
